<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test name="Test1Chrome">

		<classes>
			<class name="com.testScenarios.BasicFunctionalityTest" />
		</classes>
	</test> <!-- Test -->
	<test name="Test2Chrome">

		<classes>
			<class name="com.testScenarios.CarWashServices" />
		</classes>
	</test> <!-- Test -->
	<test name="Test3Chrome">

		<classes>
			<class name="com.testScenarios.FreeListing" />
		</classes>
	</test> <!-- Test -->
	<test name="Test4Chrome">

		<classes>
			<class name="com.testScenarios.GymSubMenuItems" />
		</classes>
	</test> <!-- Test -->


</suite> <!-- Suite -->
